<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key ="enableOperatorLabels" value="true"/>
    <add key="crateImagesFolder" value="c:\\gal\crateinfoscan\crateimages\"/>
    <add key="ScaleSendCode" value="P"/>
    <add key="DOPLabelsFilePath" value="C:\\gal\DOPLabels\OperatorLabelv3.exe"/>
    <add key="scaleType" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="C1Red" value="1.07"/>
    <add key="C1Green" value="1.0"/>
    <add key="C1Blue" value="1.35"/>
    <add key="C1ExposureMM" value="200"/>
    <add key="C1GainDB" value=".6"/>
    <add key="C1WidthPX" value="1264"/>
    <add key="C1LeftPX" value="0"/>
    <add key="C1HeightPX" value="1016"/>
    <add key="C1TopPX" value="0"/>
    <add key="C1SN" value="34412051"/>
    <add key="C2Red" value="1.07"/>
    <add key="C2Green" value="1.0"/>
    <add key="C2Blue" value="1.35"/>
    <add key="C2ExposureMM" value="200"/>
    <add key="C2GainDB" value=".6"/>
    <add key="C2WidthPX" value="2040"/>
    <add key="C2LeftPX" value="0"/>
    <add key="C2HeightPX" value="408"/>
    <add key="C2TopPX" value="336"/>
    <add key="C2SN" value="22472751"/>
  </appSettings>
  <connectionStrings>
    <add name="custConn" connectionString="DATA SOURCE=custom;PASSWORD=cust;USER ID=cust;pooling=false" providerName="Oracle.DataAccess.Client"/>
    <add name="erpConn" connectionString="DATA SOURCE=gal;PASSWORD=galaxy03;USER ID=SYSADM;pooling=false" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
